.Contacts_item-new {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #ffb444;
}

@media (max-width: 768px) {
  .Contacts_item-new {
    padding-left: 0;
  }
}

.Contacts_item-new input {
  width: 100%;
  background-color: #ffb444;
  border: 2px solid #fff;
  padding-left: 5px;
  outline: 0;
  box-shadow: none;
}

.Contacts_item-new input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.Contacts_item-new input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .Contacts_item-new-email,
  .Contacts_item-new-country,
  .Contacts_item-new-button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .Contacts_item-new-email,
  .Contacts_item-new-country,
  .Contacts_item-new-button,
  .Contacts_item-new-last {
    margin-top: 20px;
  }
}

.Contacts_select {
  width: 100%;
  height: 34px;
  background-color: #ffb444;
  border: 2px solid #fff;
  outline: 0;
}
